*{
    margin:0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3dede;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}
.joke-area{
    
   background-color:gray;

}

#getJokeBtn{
    background-color: #00ff7b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}
#clearJokeBtn{
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
